*
{
	margin: 0;
	padding: 0;
}
/*---Navigation---*/
#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar-brand img
{
	height: 80px;
	padding-left: 40px;
}
.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
	float: right;
	text-align: left;
}
#nav-bar ul li a:hover
{
	color: #007bff!important;
}
.navbar
{
	background: #fff;
}
.navbar-toggler
{
	border: none!important;
}
.nav-link
{
	color: #555!important;
	font-weight: 600;
	font-size: 16px;
}

/*--slider--*/
#slider
{
	width: 100%;
}
.carousel-caption
{
	top: 50%;
	transform: translateY(-50%);
	bottom: initial!important;
}
.carousel-caption h5
{
	color: #fff;
	font-size: 42px;
}
/*-----About------*/
#about
{
	padding-top: 50px;
	padding-bottom: 50px;
	color: #555;
}
#about .btn
{
	margin-top: 20px;
	margin-bottom: 30px;
}
.about-content
{
	padding-top: 20px;

}
.skills-bar p
{
	margin-bottom: 6px;
	font-weight: 600;
}
.progress-bar
{
	border-radius: 16px;
}
.progress
{
	border-radius: 16px !important;
	margin-bottom: 20px; 
}

/*---aboutme---*/
#aboutme
{
	padding-top: 50px;
	padding-bottom: 50px;
}
#aboutme .row
{
	margin-top: 30px;
}
/*---Education---*/
#Education
{
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(https://images.unsplash.com/photo-1549413468-716d44d16e68?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTB8fHZpZXclMjB3aWR0aCUyMDEyMDAlMjBoZWlnaHQlMjA0ODB8ZW58MHwwfDB8&auto=format&fit=crop&w=500&q=60);
	background-size: cover;
	background-position: center;
	color: #555;
	background-attachment: fixed;
	padding-top: 50px;
	padding-bottom: 70px;
}
h1
{
	text-align: center;
	color: #555 !important;
	padding-bottom: 30px;
}
h1::after
{
	content: '';
	background: #007bff;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}
.profile-pic
{

	margin-top: 25px;
	padding-top: 50px;
}
.profile-pic .img-box
{
	opacity: 1;
	display: block;
	position: relative;
	padding-bottom: 30px;
}
.profile-pic .img-box img
{
	filter: grayscale(1);
}
.profile-pic .img-box img:hover
{
	filter: grayscale(0);
	cursor: pointer;
}
#Education .fa
{
	height: 25px;
	width: 25px;
	color: #007bff !important;
	background: #fff;
	padding: 4px;
	border-radius: 50%;
}
/*--------Contacts-------*/
#services
{
	background-size: cover;
	background-position: center;
	color: black;
	padding-top: 50px;
	padding-bottom: 50px;
}
#services
{
	text-align: center;
	color: black;
	padding-top: 30px;
	padding-bottom: 30px;
}
#services h1::after
{
	content: ' ';
	background: #efefef;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}
.services
{
	margin-top: 40px;
}
.icon
{
	font-size: 40px;
	margin: 20px auto;
	padding: 20px;
	height: 80px;
	width: 80px;
}
#services p
{
	font-size: 14px;
	margin-top: 20px;
	color: #ccc;
}
.services .col-md-3:hover
{
	background: #007bff;
	cursor: pointer;
	transition: 0.7s;
}
/*------Footer-----*/
#footer
{
	background: #333;
	color: #fff;
	padding: bold;
	padding-top: 30px;
	padding-bottom: 30px;
}
.fa-heart-o
{
	margin: 3px;
	color: red;
}
/*------Biodata-----*/
#aboutme
{
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(https://images.unsplash.com/photo-1549413468-716d44d16e68?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTB8fHZpZXclMjB3aWR0aCUyMDEyMDAlMjBoZWlnaHQlMjA0ODB8ZW58MHwwfDB8&auto=format&fit=crop&w=500&q=60);
	background-size: cover;
	background-position: center;
	color: #efefef !important;
	background-attachment: fixed;
	padding-top: 50px;
	padding-bottom: 50px;
}
#aboutme
{
	text-align: center;
	color: #efefef !important;
	padding-top: 30px;
	padding-bottom: 30px;
}
#aboutme
{
	padding-top: 50px;
	padding-bottom: 50px;
}
#aboutme .row
{
	margin-top: 30px;
}

/*---GALLERY---*/
#gallery gallery-text
{
	background-size: cover;
	background-position: center;
	color: black;
	padding-top: 50px;
	padding-bottom: 50px;
}
.gallery
{
	height: 80%;
	width: 100%;
	display: flex;
	margin: 5% auto 0;
	box-sizing: border-box;
}
.image-box
{
	margin: 0 1%;
	flex-grow: 1;
	flex-basis: 0;
	transition: .5s;
}
.image-box img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: .5s;
	padding-bottom: 40px;
}
.image-box:hover
{
	flex-basis: 50%;
}
.active
{
	flex-basis: 50%;
}
.gallery:hover .active
{
	flex-basis: 0;
}
.image-box:nth-child(1):hover
{
	flex-basis: 50%;
}
h2
{
	text-align: center;
	color: #555 !important;
	padding-top: 50px;
	padding-bottom: 20px;
}
/*----Get In Touch-----*/
#contact
{
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(https://images.unsplash.com/photo-1549413468-716d44d16e68?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTB8fHZpZXclMjB3aWR0aCUyMDEyMDAlMjBoZWlnaHQlMjA0ODB8ZW58MHwwfDB8&auto=format&fit=crop&w=500&q=60);
	background-size: cover;
	background-position: center;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #777;
}
.contact-form
{
	padding: 15px;
}
.form-control
{
	border-radius: 0 !important;
	border: none !important;
}
::placeholder
{
	color: #999 !important;
}
.follow
{
	background: #fff;
	padding: 10px;
	margin: 15px;
}
.follow
{
	background: #fff;
	padding: 10px;
	margin: 15px;
}
.contact-info .fa
{
	margin: 10px;
	color: #007bff;
	font-weight: bold;
}
/*------Skills----*/
.chart
{
	margin: 10px auto;
	width: 1000px;
	height: 400px;
}
.skills
{
	text-align: justify;
}
/*-------Education----*/
.hero
{
	background: #98AFC7;
	height: 100%;
	width: 100%;
	position: relative;
}
.hero h1
{
	text-align: center;
	padding-top: 20px;
	font-size: 40px;
	color: #fff;
}
.description-container
{
	max-width: 800px;
	margin: 40px auto 20px;
}
.description-container
{
	text-align: justify;
}
.description-container .floating-image
{
	max-width: 400px;
}
.description-container .floating-image.right
{
	float: right;
	margin-left: 30px;
	margin-bottom: 10px;
}
.description-container .floating-image.left
{
	float: left;
	margin-right: 30px;
	margin-bottom: 10px;
}
/*-------Friends-----*/
.wrapper
{
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(https://images.unsplash.com/photo-1549413468-716d44d16e68?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTB8fHZpZXclMjB3aWR0aCUyMDEyMDAlMjBoZWlnaHQlMjA0ODB8ZW58MHwwfDB8&auto=format&fit=crop&w=500&q=60);
}
.wrapper h1
{
	font-size: 52px;
	margin-bottom: 60px;
	text-align: center;
}
.team
{
	display: flex;
	text-align: center;
	width: auto;
	justify-content: center;
}
.team .team_member
{
	background: #fff;
	margin: 5px;
	margin-bottom: 50px;
	width: 300px;
	padding: 20px;
	line-height: 20px;
	color: #8e8b8b;
	position: relative;
}
.team .team_member h3
{
	color: #98AFC7;
	font-size: 26px;
	margin-top: 50px;
}
.team .team_member p.role
{
	color: #ccc;
	font-size: 12px;
	text-transform: uppercase;
	margin: 12px 0;
}
/*------EXPERIENCE----*/
#blog1
{
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(https://images.unsplash.com/photo-1496098236379-e7c6cfb4a70d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=333&q=80);
	background-size: cover;
	background-position: center;
	color: #efefef !important;
	background-attachment: fixed;
	padding-top: 50px;
	padding-bottom: 50px;
}
#blog1
{
	text-align: justify;
	color: #efefef !important;
	padding-bottom: 10px;
	padding-left: 50px;
	padding-right: 50px;
}
.content-table
{
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.6cm;
	min-width: 400px;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.15);
	margin-left: auto;
  	margin-right: auto;
}
.content-table thead th
{
	text-align: center;
}
.content-table thead tr
{
	background-color: #009879;
	color: #ffff;
	text-align: left;
	font-weight: bold;
}
.content-table th,
.content-table td
{
	padding: 12px 15px;
}
.content-table tbody tr
{
	border-bottom: 1px solid #dddddd;
}
.content-table tbody tr.active-row
{
	font-weight: bold;
	color: #009879;
}
.Experience
{
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 100px 0;
	justify-content: center;
}
.timeline
{
	width: 80%;
	height: auto;
	max-width: 800px;
	margin: 0 auto;
	position: relative;
}
.timeline ul
{
	list-style: none;
}
.timeline ul li
{
	padding: 20px;
	background-color: #1e1f22;
	color: white;
	border-radius: 10px;
	margin-bottom: 20px;
}
.timeline ul li:last-child
{
	margin-bottom: 0;
}
.timeline-content h1
{
	font-size: 35px;
	font-weight: 500;
	line-height: 30px;
	margin-bottom: 10px;
	padding-bottom: 0;
	padding-top: 0;
}
.timeline-content p
{
	font-size: 16px;
	line-height: 30px;
	font-weight: 300;
}
.timeline-content .date{
	font-size: 13px;
	font-weight: 300;
	margin-bottom: 10px;
	letter-spacing: 2px;
	padding-bottom: 10px;
	padding-top: 10px;
}
@media only screen and (min-width: 768px){
	.timeline::after{
		content: '';
		position: absolute;
		height: 1800px;
		width: 2px;
		left: 52%;
		transform: translateX(-50%);
		background-color: gray;
	}
	.timeline ul li{
		width: 50%;
		margin-bottom: 50px;
		position: relative;
	}
	.timeline ul li:nth-child(odd){
		float: left;
		clear: right;
		transform: translateX(-10%);
		border-radius: 20px 0px 20px 20px;
	}
	.timeline ul li:nth-child(even){
		float: right;
		clear: left;
		transform: translateX(10%);
		border-radius: 0px 20px 20px 20px;
	}
	.timeline ul li::after{
		content: '';
		position: absolute;
		height: 20px;
		width: 20px;
		background-color: gray;
		border-radius: 50%;
		top: 0;
	}
	.timeline ul li:nth-child(odd)::after{
		transform: translate(50%,-50%);
		right: -38px;
	}
	.timeline ul li:nth-child(even)::after{
		transform: translate(-50%,-50%);
		left: -38px;
	}
	.timeline ul li:hover:after {
		background-color: aqua;
	}
}
.VideoWrapper
{
	position: relative;
	padding-bottom: 57%;
	/*  Equals 16:9    */
	height: 0;
}
.VideoWrapper iframe
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-bottom: 50px;
	 
}